#score-box {
  border-width: 1px;
  border-radius: 10px;
  padding: 2px 5px 2px 5px;
}

#score-box.invalid {
  border-color: black;
  background-color: white;
  color: black;
  border: solid;
}

#score-box.high {
  background-color: #6c3;
  color: white;
  border: none;
}

#score-box.medium {
  background-color: #fc3;
  color: white;
  border: none;
}

#score-box.low {
  background-color: #f00;
  color: white;
  border: none;
}
